div.gadgetui-bubble span{
	font-size:13px;
}

div.gadget-ui-collapsiblePane, div.gadget-ui-floatingPane{
	padding: 0px;
	border-radius: 5px;
	border: 1px solid silver;
}

 div.gadget-ui-floatingPane{
	position: absolute;
	overflow: hidden;
}

div.gadget-ui-collapsiblePane > div:nth-child(2), div.gadget-ui-floatingPane > div:nth-child(2){
	padding: .5em;
}

div.gadget-ui-floatingPane > div:nth-child(2){
	overflow:scroll;
}

div.gadget-ui-collapsiblePane-header, div.gadget-ui-floatingPane-header{
	padding: 2px 0px 2px .5em;
	text-align:left;
	border-radius: 5px 5px 0 0;
	border: 1px solid transparent;
	background-color: silver;
	color: black;
	font-weight: bold;
	overflow:hidden;
}

div.gadget-ui-collapsiblePane-header div, div.gadget-ui-floatingPane-header div{
	float: right;
	display:inline;
	padding-right:.25em;
	margin-top: 0.1em;
}

p.gadgetui-bubble-speech
{
	display:none;
}

div.gadgetui-bubble{
	-webkit-box-sizing: initial;
	-moz-box-sizing: initial;
	box-sizing: initial;
}

.feather{
	width: 1.2em;
  height: 1.2em;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}


div.gadgetui-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

div.gadgetui-modalWindow {
  padding: 1em;
  border-radius: .25em;
	background: #fff;
	border: 1px solid silver;
	margin-left:auto;
	margin-right:auto;
	margin-top: 100px;
}

div.gadgetui-showModal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.right-align{
	float:right;
}

div.gadgetui-sidebar{
 border: 1px solid silver;
 position:relative;
 top:0;
 bottom:0;
}

div.gadgetui-sidebar-minimized{
	width:25px !important;
}

div.gadgetui-sidebarContent-minimized{
	opacity:0;
	overflow: hidden;
	width:0px !important;
}

span.gadgetui-sidebar-toggle{
	position: relative;
	right: 0;
	top: 48%;
	border-left: 1px solid silver;
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
	padding-top: 4px;
	border-radius: .25em 0 0 .25em;
}
