div .gadget-ui-input-div{
	display:inline;
	font-size: 1.1em;
	font-family: inherit;
}
div .gadget-ui-input-div span{
	padding-left: 4px;
	font-size: .8em;
	letter-spacing: 1px;
	font-family: inherit;
}
div .gadget-ui-input-div input{
	line-height: 0.8em;
	font-size: 0.8em;
	letter-spacing: 1px;
	font-family: inherit;
	margin: 0px 0px -1px;
	padding: 0px 0px 0px 1px;
}

div .gadget-ui-input-div div{
	
}